@import "tailwindcss";

* {
  outline: 1px solid red;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100vw;
}

nav {
  display: flex; /* Lay out the li elements in a row */
  justify-content: space-between; /* Distribute the li elements evenly across the width of the navbar */
  width: 100%; /* Ensure the navbar takes up the full width of the page */
}

ul {
  display: flex; /* Ensure the list items (li) are displayed in a row */
  margin: 0; /* Remove default margin from the ul */
  padding: 0; /* Remove default padding from the ul */
  list-style-type: none; /* Remove default list bullets */
  width: 100%; /* Ensure the ul takes up the full width of the navbar */
}

li {
  flex: 1; /* Make each list item take up equal space */
  text-align: center; /* Center the text inside each li element */
  padding: 10px; /* Add some space around the text */
}
